<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teachername</key>
		<string>Haaollis</string>
		<key>teacherphoto</key>
		<string>teacherw0</string>
		<key>ifneedsubGTEM</key>
		<string>1</string>
		<key>videowenan0</key>
		<string>Cheers to mastering the art of retro cocktails! 🥂</string>
		<key>viedeourll0</key>
		<string>https:^^&gt;//huan^^&gt;niuchat.^^&gt;oss-ap-north^^&gt;east-1.aliyuncs.com/ginne/safbhj/hollgeuwydasijkthrytjyh.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23412</string>
		<key>issubedeGTEm</key>
		<string>0</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Iveror</string>
		<key>teacherphoto</key>
		<string>teacherw1</string>
		<key>ifneedsubGTEM</key>
		<string>1</string>
		<key>videowenan0</key>
		<string>🎥 Watch now, and get ready to impress your friends with this dreamy concoction! 💬</string>
		<key>viedeourll0</key>
		<string>htt^^&gt;ps://^^&gt;huanniuch^^&gt;at.oss-ap-north^^&gt;east-1.aliyuncs.com/ginne/safbhj/lvorbrdusbhjnkhyertgs.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23414</string>
		<key>issubedeGTEm</key>
		<string>0</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Juerniper</string>
		<key>teacherphoto</key>
		<string>teacherw2</string>
		<key>ifneedsubGTEM</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Midnight Cocktail Conversations 🌙🍸</string>
		<key>viedeourll0</key>
		<string>https://^^&gt;huanniu^^&gt;chat.oss-^^&gt;ap-northe^^&gt;ast-1.aliyuncs.com/ginne/safbhj/junipefewasxyiujhkrtyb.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23416</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Kiieeran</string>
		<key>teacherphoto</key>
		<string>teacherw3</string>
		<key>ifneedsubGTEM</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Feeling Bored? Discover Exciting New Mixing Techniques! 🎉</string>
		<key>viedeourll0</key>
		<string>htt^^&gt;ps://hua^^&gt;nniu^^&gt;chat.oss-ap-north^^&gt;east-1.aliyuncs.com/ginne/safbhj/kiergrebklhytujy.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23418</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Liyric</string>
		<key>teacherphoto</key>
		<string>teacherw4</string>
		<key>ifneedsubGTEM</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>A Symphony of Flavors: Mixing Three Unique Liquors 🍹✨</string>
		<key>viedeourll0</key>
		<string>https://h^^&gt;uanni^^&gt;uchat.oss^^&gt;-ap-north^^&gt;east-1.ali^^&gt;yuncs.c^^&gt;om/ginne/safbhj/lyrivfbdsijakghtyhjcxz.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234110</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Munntague</string>
		<key>teacherphoto</key>
		<string>teacherw5</string>
		<key>ifneedsubGTEM</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Embrace New Mixing Ideas! 🎉</string>
		<key>viedeourll0</key>
		<string>https://hu^^&gt;ann^^&gt;iuchat.oss-ap-northe^^&gt;ast-1.aliyu^^&gt;ncs.com/ginne/safbhj/montfasjhtryhjyhkhbv.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234112</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Nobava</string>
		<key>teacherphoto</key>
		<string>teacherw6</string>
		<key>videowenan0</key>
		<string></string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234114</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Orrrison</string>
		<key>teacherphoto</key>
		<string>teacherw7</string>
		<key>videowenan0</key>
		<string></string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234116</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Paioppin</string>
		<key>teacherphoto</key>
		<string>teacherw8</string>
		<key>videowenan0</key>
		<string></string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234118</string>
	</dict>
</array>
</plist>
