<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teachername</key>
		<string>Hollis</string>
		<key>teacherphoto</key>
		<string>teacherw0</string>
		<key>ifneedsub</key>
		<string>1</string>
		<key>videowenan0</key>
		<string>Mastered a retro cocktail. Sharing steps. 🍸</string>
		<key>viedeourll0</key>
		<string>https://huanniuchat.oss-ap-northeast-1.aliyuncs.com/ginne/safbhj/hollgeuwydasijkthrytjyh.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23412</string>
		<key>issubedeGTEm</key>
		<string>0</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Ivor</string>
		<key>teacherphoto</key>
		<string>teacherw1</string>
		<key>ifneedsub</key>
		<string>1</string>
		<key>videowenan0</key>
		<string>Inspired by pro, made “Dreamy Night” cocktail. Video up. 💬</string>
		<key>viedeourll0</key>
		<string>https://huanniuchat.oss-ap-northeast-1.aliyuncs.com/ginne/safbhj/lvorbrdusbhjnkhyertgs.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23414</string>
		<key>issubedeGTEm</key>
		<string>0</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Juniper</string>
		<key>teacherphoto</key>
		<string>teacherw2</string>
		<key>ifneedsub</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Midnight cocktail chat. 🤖</string>
		<key>viedeourll0</key>
		<string>https://huanniuchat.oss-ap-northeast-1.aliyuncs.com/ginne/safbhj/junipefewasxyiujhkrtyb.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23416</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Kieran</string>
		<key>teacherphoto</key>
		<string>teacherw3</string>
		<key>ifneedsub</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Bored? Explore new mix methods. 🎉</string>
		<key>viedeourll0</key>
		<string>https://huanniuchat.oss-ap-northeast-1.aliyuncs.com/ginne/safbhj/kiergrebklhytujy.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>23418</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Lyric</string>
		<key>teacherphoto</key>
		<string>teacherw4</string>
		<key>ifneedsub</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Mixed 3 liquors, unique flavor. Video here. 👀</string>
		<key>viedeourll0</key>
		<string>https://huanniuchat.oss-ap-northeast-1.aliyuncs.com/ginne/safbhj/lyrivfbdsijakghtyhjcxz.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234110</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Montague</string>
		<key>teacherphoto</key>
		<string>teacherw5</string>
		<key>ifneedsub</key>
		<string>0</string>
		<key>videowenan0</key>
		<string>Try new mix ideas. 🎉</string>
		<key>viedeourll0</key>
		<string>https://huanniuchat.oss-ap-northeast-1.aliyuncs.com/ginne/safbhj/montfasjhtryhjyhkhbv.mp4</string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234112</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Nova</string>
		<key>teacherphoto</key>
		<string>teacherw6</string>
		<key>videowenan0</key>
		<string></string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234114</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Orson</string>
		<key>teacherphoto</key>
		<string>teacherw7</string>
		<key>videowenan0</key>
		<string></string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234116</string>
	</dict>
	<dict>
		<key>teachername</key>
		<string>Pippin</string>
		<key>teacherphoto</key>
		<string>teacherw8</string>
		<key>videowenan0</key>
		<string></string>
		<key>isplaying</key>
		<string>0</string>
		<key>gtemID</key>
		<string>234118</string>
	</dict>
</array>
</plist>
